.hour-container{background-color: #F0F0F0;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.25);
    width: max-content;
    max-width: max-content;
  }

  .hour-selector{
    height: 3rem;
    border-radius: 0.25rem;
    padding: 8px;
  }